.temp_top{
    margin-left: 10px;
}

.all_del_btn{
    background-color: white;
    border: solid 1px gray;
    padding: 3px 8px;
    margin-bottom: 20px;
    margin-left: 10px;
    display: inline-block;
    visibility: hidden;    
}

.sel_del_btn{
    background-color: white;
    border: solid 1px gray;
    padding: 3px 8px;
    margin-bottom: 20px;
    margin-left: 3px;
    display: inline-block;
    visibility: hidden;    
}


.edit_btn{
    background-color: white;
    border: solid 1px gray;
    padding: 3px 8px;
    margin-bottom: 20px;
    margin-left: 134px;
    display: inline-block;
}


.check{
    position: absolute;
    margin-top:10px;
    margin-left:20px;
    visibility: hidden;
}

hr{
    margin: 0px;
}

.temp_writing{
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
}

.temp_writing:hover{
    background-color: #eeeeee;

}

.temp_title{
    margin-left:50px;

}

.temp_date{
    margin-left:50px;
    color: gray;
    font-size: 12px;
}

.close{
    position: absolute;
    margin-left: 430px;
    font-size: 20px;
    margin-top:-10px;
}